.recomendation-title {
  text-align: center;
  padding-top: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.recomendation-block {
  display: flex;
  flex-wrap: wrap;
}

.recomendation-map-block:not(:first-child) {
  margin-left: 24px;
}

.recomendation-map-block:nth-child(3) {
  margin-left: 24px;
  margin-top: 0;
}

.recomendation-map-block:nth-child(4) {
  margin-top: 31px;
  margin-left: 0;
}

.recomendation-map-block:nth-child(5) {
  margin-left: 24px;
  margin-top: 31px;
}

.recomendation-map-block:nth-child(6) {
  margin-left: 24px;
  margin-top: 31px;
}

.recomendation-map-block img {
  width: 450px;
  height: 330px;
  border-radius: 10px;
}

.recomendation-map-block {
  position: relative;
}

.recomendation-map-block h2 {
  position: absolute;
  width: 270px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  top: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  padding-top: 28px;
  left: 120px;
}

.recomendation-block {
  padding-bottom: 58px;
}
